.hamburger {
  background: none;
  display: block;
  cursor: pointer;
  border: 3px solid $primary;
  transition-property: border-color;
  transition-duration: 500ms;

  &:hover, &:active {
    border-color: $activeColor;

    .hamburger__element {
      background-color: $activeColor;

      &::before, &::after {
        background-color: $activeColor;
      }
    }
  }

  &:focus {
    border-color: $activeColor;
  }
}

.hamburger__element {
  width: 40px;
  height: 3px;
  background-color: $primary;
  display: block;
  margin: 0 auto;
  transition-property: background-color;
  transition-duration: 500ms;

  &::before, &::after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: $primary;
    display: block;
    margin: 0 auto;
    transition-property: background-color;
    transition-duration: 500ms;
  }

  &::after {
    transform: translateY(4px);
  }

  &::before {
    transform: translateY(-7px);
  }
}

.hamburger--active {
  position: relative;
  z-index: 1;
  border-color: $activeColor;

  &:hover, &:active {
    border-color: $activeColor;

    .hamburger__element {
      background-color: $black;

      &::before, &::after {
        background-color: $black;
      }
    }
  }

  .hamburger__element {
    transform: rotate(45deg);

    &::after {
      transform: rotate(-90deg);
      position: relative;
      z-index: 1;
    }
    &::before {
      display: none;
    }
  }
}
